@model List<WeatherViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>Swell Height</th>
            <th>Swell Period</th>
            <th>Swell Period</th>
            <th>Swell Direction</th>
            <th>Air Temperature</th>
            <th>Wind Direction</th>
            <th>Wind Speed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Time</td>
                <td>@item.SwellHeight</td>
                <td>@item.SwellPeriod</td>
                <td>@item.SwellDirection</td>
                <td>@item.Airtemperature</td>
                <td>@item.Watertemperature</td>
                <td>@item.Winddirection</td>
                <td>@item.Windspeed</td>
            </tr>
        }
    </tbody>
</table>

